@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

body {
    background-color: #414141;
    color:  #FAFAFF;
    
}

header .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}